feedback-popover {
    .content {
        background: white;
        margin-bottom: 56px;
        padding: 15px;
        .scroll-content {
            background: initial;
        }
        h5 {
            margin-top: 0;
            color: $font-color;
        }
        textarea {
            margin: 10px 0 0 0 !important;
            min-height: 40px;
            max-height: 150px;
            width: 100%;
            border: 0;
            border-bottom: solid 2px color($colors, primary);
            resize: none;
        }
    }
    ion-footer {
        .toolbar-background {
            background: $texture-background;
        }
    }
}