<ion-header>
    <ion-navbar>
        <ion-buttons left *ngIf="restaurant">
            <button ion-button icon-only (click)="onBackButton()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{restaurant ? restaurant.name : "Deals"}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-padding no-margin>
        <ion-item *ngFor="let deal of deals | async">
            <ion-thumbnail item-start>
                <img [src]="deal.photo ? deal.photo  : 'assets/images/deal.png'" imageViewer />
            </ion-thumbnail>
            <ion-row>
                <ion-col>
                    <h3>{{deal.name[0]}}</h3>
                </ion-col>
                <ion-col class="price" col-3 *ngIf="deal.newPrice"><b>{{deal.newPrice}}</b> SDG</ion-col>
                <ion-col class="price old" col-3 *ngIf="deal.oldPrice"><b>{{deal.oldPrice}}</b> SDG</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>{{deal.description[0]}}</p>
                </ion-col>
            </ion-row>
            <!--<ion-badge item-end>{{deal.price}} SDG</ion-badge>-->
        </ion-item>
        <ion-item no-padding *ngIf="!dealsList || dealsList.length == 0" text-center class="no-match">No deals</ion-item>
    </ion-list>
</ion-content>