page-deals {
    ion-header {}
    ion-content {
        .list {
            .item {
                padding-left: 8px;
                ion-row {
                    h3,
                    p {
                        white-space: normal;
                        margin: 0;
                    }
                    .col {
                        padding: 0;
                    }
                    .price {
                        font-size: 12px;
                        text-align: center;
                        max-width: 51px;
                        &.old {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}