page-cuisines {
    ion-content {
        .title {
            top: 50%;
            left: 50%;
            position: absolute;
            text-align: center;
            font-size: medium;
            color: white;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
        }
        .col {
            position: relative;
            min-height: 180px;
            background-image: url("../assets/images/cuisine1.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            border-top: 1px solid rgba(220, 220, 220, 0.1);
            border-left: 1px solid rgba(220, 220, 220, 0.1);
            @media screen and (orientation: landscape) {
                min-height: 160px;
            }
            /*@media (min-width: map-get($screen-breakpoints, md)) and (orientation: portrait) {
                height: 240px;
            }*/
        }
    }
}