page-cuisines {
    ion-content {
        .title {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
            text-align: center;
            font-size: large;
            color: white;
            width: 100%;
            text-shadow: 2px 2px 2px rgba(15, 15, 15, 1);
        }
        .col {
            position: relative;
            min-height: 180px;
            background-size: cover;
            background-position: center;
            border: 1px solid rgba(250, 250, 250, 0.6);
            @media screen and (orientation: landscape) {
                min-height: 160px;
            }
            /*@media (min-width: map-get($screen-breakpoints, md)) and (orientation: portrait) {
                height: 240px;
            }*/
        }
    }
}
