page-restaurant {
    ion-header {
        .toolbar-background {
            opacity: 0;
        }
        .toolbar-title {
            color: white;
            font-weight: normal;
            font-size: 1.8rem;
        }
        .icon {
            color: white;
        }
        .search-toggle {
            position: absolute;
            top: 3px;
            right: 5px;
            width: 45px;
            height: 42px;
        }
        ion-searchbar {
            position: absolute;
            top: 0;
        }
        /*.searchbar-sprite {
            position: absolute;
            top: 0;
            right: 8px;
            padding: 8px 0;
            width: 45px;
            height: 42px;
            transform-origin: right;
            .toggle {
                width: 100%;
                height: 42px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                border-radius: 2px;
                line-height: 49px;
                text-align: center;
                background-color: white;
                ion-icon {
                    font-size: 20px;
                    color: #6a6b6d;
                }
            }
        }*/
    }
    ion-content {
        .scroll-content {
            margin-top: 0 !important;
        }
        .banner {
            height: 141px;
            background-image: url("../assets/images/banner5.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            .banner-content {
                position: absolute;
                top: 50px; // move down the navbar
                background: transparent;
                color: white;
                padding-left: 5px;
                padding-right: 5px;
                ion-thumbnail {
                    margin: 3px;
                    img {
                        border-radius: 3px;
                    }
                }
                ion-label {
                    margin-right: 0;
                    .details,
                    .details h3 {
                        // ellipses trim
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .favorite-icon-container {
                        max-width: 30px;
                        ion-icon {
                            font-size: x-large;
                            padding: 4px;
                        }
                    }
                }
                .item-inner {
                    border: none;
                    rating {
                        ul {
                            margin: 0;
                            padding: 0;
                            color: white; //#FFCF00;
                            font-size: medium;
                            margin-left: -5px;
                            li {
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
        .top-container {
            padding: 10px;
            background: white;
            border-bottom: solid 1px color($shades-of-gray, lighter-gray);
            margin-bottom: 5px;
            p {
                margin: 5px 0 0 0;
            }
        }
        .category-items-container {
            background: $page-background; // url("../../../assets/images/test.jpg") fixed no-repeat bottom right
            position: relative;
            padding: 35px 10px 10px 10px;
            .pictured-category-btn {
                position: absolute;
                right: 0;
                top: 0;
            }
            ion-card {
                margin: 0;
                width: 100%;
                +ion-card {
                    margin-top: 10px;
                }
                ion-card-header {
                    padding: 10px 16px;
                    ;
                    button {
                        min-height: initial;
                        ion-label {
                            margin: 0;
                        }
                        .icon {
                            margin: 0;
                        }
                    }
                }
                ion-list {
                    @keyframes example {
                        from {
                            max-height: 0;
                        }
                        to {
                            max-height: 200px;
                        }
                    }
                    &.expanded {
                        max-height: 2000px;
                        animation: example 0.5s ease-in;
                    }
                    /*@keyframes example {
                        from {
                            transform: scaleY(0);
                        }
                        to {
                            transform: scaleY(1);
                        }
                    }
                    &.expanded {
                        transform: scaleY(0);
                        animation-name: example;
                        animation-duration: 2s;
                    }*/
                    /*max-height: 0;
                    transition: max-height 1.5s ease-out;
                    overflow: hidden;
                    &.expanded {
                        max-height: 600px;
                    }*/
                    .item {
                        border-bottom: solid 1px color($shades-of-gray, lighter-gray);
                        ion-icon {
                            color: color($shades-of-gray, darker-gray);
                        }
                        .item-inner {
                            margin-left: 0;
                            ion-badge {
                                font-size: 12px;
                                min-width: 65px;
                                background: url(../assets/images/page-background.png);
                            }
                        }
                    }
                }
            }
        }
        .fab {
            .label {
                border: 1px solid lightgray;
            }
        }
    }
}