page-restaurant {
    ion-header {
        .bar-buttons {
            .bar-button {
                width: 40px;
            }
            .call-btn {
                @include ltr() {
                    margin-right: 50px;
                }
                @include rtl() {
                    margin-left: 50px;
                }
            }
        }
        .toolbar-background {
            opacity: 0;
            background-color: rgba(17, 18, 21, 0.85);
        }
        .toolbar-title {
            padding: 0;
        }
        .icon {
            color: white;
        }
        .search-toggle {
            position: absolute;
            top: 3px;
            width: 45px;
            height: 42px;
            @include ltr() {
                right: 5px;
            }
            @include rtl() {
                left: 5px;
            }
        }
        ion-searchbar {
            position: absolute;
            top: 0;
            input {
                @include rtl() {
                    direction: rtl;
                }
            }
        }
    }
    ion-content {
        .scroll-content {
            margin-top: 0 !important; // to override ionic's inline margin
        }
        .banner {
            height: 141px;
            @include ltr() {
                background-image: url("../assets/images/banner.jpg");
            }
            @include rtl() {
                background-image: url("../assets/images/banner-ar.jpg");
            }
            background-repeat: no-repeat;
            background-size: 100%;
            .banner-content {
                position: absolute;
                top: 50px; // move below the navbar
                background: transparent;
                color: white;
                padding-left: 5px;
                padding-right: 5px;
                .thumnail-wrapper {
                    margin: 3px;
                    img {
                        border-radius: 3px;
                    }
                }
                ion-label {
                    margin: 0;
                    .details {
                        padding: 0 5px;
                        &,
                        h3 {
                            // ellipses trim
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .favorite-icon-container {
                        max-width: 30px;
                        ion-icon {
                            font-size: x-large;
                            padding: 4px;
                        }
                    }
                }
                .item-inner {
                    border: none;
                    p {
                        padding: 5px 0;
                        rating {
                            ul {
                                margin: 0;
                                padding: 0;
                                color: white; //#FFCF00;
                                font-size: 22px;
                                li {
                                    padding: 5px;
                                }
                                @include ltr() {
                                    margin-left: -5px;
                                }
                                @include rtl() {
                                    margin-right: -5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .category-items-container {
            background-image: $texture-background;
            position: relative;
            padding: 35px 10px 10px 10px;
            padding-top: 10px; // TODO: remove once pictured menu is added
            .pictured-category-btn {
                position: absolute;
                right: 0;
                top: 0;
            }
            .card {
                margin: 0;
                width: 100%;
                ion-card-header {
                    padding: 10px 16px;
                    button {
                        min-height: auto;
                        ion-label {
                            margin: 0;
                        }
                        .icon {
                            margin: 0;
                        }
                    }
                }
                ion-list {
                    @keyframes example {
                        from {
                            max-height: 0;
                        }
                        to {
                            max-height: 2000px;
                        }
                    }
                    &.expanded {
                        animation: example 0.7s ease-in;
                    }
                    .item {
                        border-bottom: solid 1px color($shades-of-gray, lighter-gray);
                        ion-icon {
                            color: color($shades-of-gray, darker-gray);
                            &.ion-ios-image-outline {
                                opacity: 0.5;
                            }
                        }
                        .item-inner {
                            margin-left: 0;
                            ion-badge {
                                font-size: 12px;
                                min-width: 65px;
                                font-weight: normal;
                                background: $texture-background;
                            }
                        }
                    }
                }
            }
        }
        .fab {
            .label {
                border: 1px solid lightgray;
            }
        }
    }
}

ion-fab[bottom] {
    bottom: 70px;
}
