<ion-header no-border>
    <ion-navbar #navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="onBackButton()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{restaurant.name[settings.language]}}</ion-title>
        <ion-buttons end>
            <button class="call-btn" ion-button icon-only (click)="call()">
              <ion-icon name="call"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <button class="search-toggle" clear ion-button icon-only (click)="focusSearchbar()" [@searchbarSpriteState]="searchState">
        <ion-icon name="search"></ion-icon>
    </button>
    <ion-searchbar (ionInput)="onQueryChanged($event)" [(ngModel)]="queryText" (ionClear)="collapseSearchbar()" (ionBlur)="collapseSearchbar()" #searchbar color="primary" placeholder="{{ translation.Restaurant.SearchPlaceholder | translate }}" [@searchbarState]="searchState"></ion-searchbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)">
    <div class="banner">
        <ion-item no-border class="banner-content">
            <ion-thumbnail item-start>
                <img [src]="restaurant.icon">
            </ion-thumbnail>
            <ion-row>
                <ion-col align-self-center class="details">
                    <h3>{{restaurant.slogan}}</h3>
                    <p (click)="showBranchRate($event)">
                        <rating readOnly="true" [(ngModel)]="rating" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
                    </p>
                </ion-col>
                <ion-col (click)="hideBio = !hideBio;" align-self-center col-2 class="favorite-icon-container" no-padding>
                    <ion-icon name="information-circle" item-end></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
    </div>
    <ion-card [hidden]="hideBio">
        <ion-card-header>{{translation.Restaurant.Bio | translate}}</ion-card-header>
        <ion-card-content>
            <p>{{restaurant.bio}}</p>
            <p margin-top>{{restaurant.email}}</p>
            <p>{{restaurant.website}}</p>
        </ion-card-content>
    </ion-card>
    <div class="category-items-container">
        <!-- pushed to v2 <button class="pictured-category-btn" clear small ion-button icon-right>Pictured Menu<ion-icon name="arrow-forward"></ion-icon></button>-->

        <ion-card *ngFor="let category of categories | async">
            <ion-card-header>
                <button ion-item no-padding (click)="category.expanded=!category.expanded;">
                    {{category.name[settings.language]}}
                    <ion-icon [name]="category.expanded? 'ios-arrow-up' : 'ios-arrow-down'" item-end></ion-icon>
                </button>
            </ion-card-header>
            <ion-list [hidden]="!category.expanded" [class.expanded]="category.expanded">
                <button ion-item *ngFor="let item of category.categoryItems" (click)="showVariations($event, item)">
                    <ion-icon [name]="item.variations.length && item.variations[0].photo ? 'ios-image' : 'ios-image-outline'" item-start></ion-icon>
                    {{item.name[settings.language]}}
                    <!--<p style="white-space: normal">Native: tried calling StatusBar.styleDefault, but Cordova is not available. Make sure to include cordova.</p>-->
                    <!--<ion-icon name="ios-arrow-forward" item-end></ion-icon>-->
                    <ion-badge color="secondary" item-end><b>{{item.variations[0].price}}</b> {{translation.Common.Pound | translate}}</ion-badge>
                </button>
            </ion-list>
        </ion-card>
        <ion-item *ngIf="noMatchForQuery" text-center class="no-match">{{translation.Messages.NoMatch | translate}}</ion-item>
    </div>
    <ion-fab right bottom>
        <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab><ion-icon color="primary" name="create"></ion-icon><!--<ion-label>Write Feedback</ion-label>--></button>
            <button ion-fab (click)="toggleFavorite()"><ion-icon style="margin-top: 3px;" color="primary" [name]="isFavorite ? 'heart' : 'heart-outline'" isActive="isFavorite" item-end></ion-icon><!--<ion-label>Favorites</ion-label>--></button>
            <!-- TODO: activate in v2 <button ion-fab><ion-icon color="primary" name="ios-image"></ion-icon><ion-label>Add Photo</ion-label></button>-->
            <!--<button ion-fab><ion-icon color="primary" name="star"></ion-icon><ion-label>Rate</ion-label></button>-->
        </ion-fab-list>
    </ion-fab>
</ion-content>