<ion-list>
    <ion-item-divider>{{translation.Restaurants.Order | translate}}</ion-item-divider>
    <ion-item>
        <ion-label>{{translation.Restaurants.AtoZ | translate}}</ion-label>
        <ion-toggle (ionChange)="onChange();" [(ngModel)]="searchSettings.a_to_z"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>{{translation.Restaurants.Nearby | translate}}</ion-label>
        <ion-toggle (ionChange)="onChange();" [(ngModel)]="searchSettings.nearby"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>{{translation.Restaurants.TopRated | translate}}</ion-label>
        <ion-toggle (ionChange)="onChange();" [(ngModel)]="searchSettings.topRated"></ion-toggle>
    </ion-item>
    <ion-item-divider>{{translation.Restaurants.Filter | translate}}</ion-item-divider>
    <ion-item>
        <ion-label>{{translation.Restaurants.City | translate}}</ion-label>
        <ion-select #citiesSelect interface="popover" (ionChange)="onChange()" [(ngModel)]="searchSettings.cityId">
            <ion-option *ngFor="let city of cities | async" value="{{city.id}}">{{city.name[settings.language]}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{translation.Restaurants.Cuisine | translate}}</ion-label>
        <ion-select #cuisinesSelect interface="popover" (ionChange)="onChange()" [(ngModel)]="searchSettings.cuisineId">
            <ion-option *ngFor="let cuisine of cuisines | async" value="{{cuisine.id}}">{{cuisine.name[settings.language]}}</ion-option>
        </ion-select>
    </ion-item>
</ion-list>