page-deal {
    ion-header {
        .toolbar-background {
            background-color: rgba(17, 18, 21, 0.4);
        }
    }
    ion-content {
        background: url(../assets/images/background-dimmed.jpg) center no-repeat;
        background-size: cover;
        .scroll-content {
            background: none;
        }
        /*.scroll-content {
            background: $texture-background;
        }*/
        .list {
            margin-bottom: 0;
            ion-slides {
                .slide-zoom {
                    .button {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background: rgba(200, 200, 200, 0.9);
                        color: color($shades-of-gray, darkest-gray);
                    }
                }
                .shadow {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 80px;
                    pointer-events: none;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 70%);
                }
                .swiper-pagination-bullet {
                    background: white;
                }
            }
            .details {
                text-align: center;
                width: 100%;
                padding: 10px;
                background: transparent;
                color: white;
                background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 90%);
                .button-inner {
                    text-transform: none;
                    color: white;
                    text-decoration: underline;
                    img {
                        margin: 0 5px;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            /*.card-content {
                padding: 0;
            }
            .details {
                text-align: center;
                width: 100%;
                padding: 10px;
                background-color: #fafafa;
                border-bottom: 1px solid rgba(150, 150, 150, 0.5);
                .card-content {
                    padding-bottom: 10px;
                }
            }*/
        }
    }
}