<ion-header>
    <ion-navbar>
        <ion-title>{{ translation.Deal.Deal | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-slides *ngIf="isRtl()" class="slider" effect="flip" speed="500" autoplay="{{ deal.photos && deal.photos.length > 1 ? '3000' : '0' }}" pager="true" dir="rtl">
            <ion-slide *ngFor="let photo of deal.photos">
                <img src="assets/images/deal1.jpg" class="deal-img" #img imageViewer>
                <button ion-button icon-only color="light" (click)="img.click()" small>
                    <ion-icon name="expand"></ion-icon>
                </button>
                <div class="shadow"></div>
            </ion-slide>
        </ion-slides>
        <ion-slides *ngIf="isLtr()" class="slider" effect="coverflow" speed="500" autoplay="{{ deal.photos && deal.photos.length > 1 ? '3000' : '0' }}" pager="true">
            <ion-slide *ngFor="let photo of deal.photos">
                <img src="assets/images/deal1.jpg" class="deal-img" #img imageViewer>
                <button ion-button icon-only color="light" (click)="img.click()" small>
                    <ion-icon name="expand"></ion-icon>
                </button>
                <div class="shadow"></div>
            </ion-slide>
        </ion-slides>
        <div class="details">
            <h2>{{deal.name[settings.language]}}</h2>
            <p>{{deal.description[settings.language]}}</p>
            <button margin-top ion-button clear *ngIf="canNavigateToRestaurant && restaurant" (click)="viewRestaurant()">
                <img [src]="restaurant.icon" fallback="assets/images/restaurant.png">
                {{restaurant.name[settings.language]}}
            </button>
        </div>
    </ion-list>
</ion-content>