page-restaurants {
    ion-header {
        .icon {
            font-size: x-large;
        }
        .icon[name="swap"] {
            display: inline-block;
            transform: rotate(90deg);
        }
    }
    ion-content {}
}