page-home {
    background-image: url("../assets/images/home2.jpg");
    background-size: cover;
    ion-header {
        .toolbar-background {
            background: transparent;
        }
        .fake-searchbar {
            position: absolute;
            right: 0;
            padding: 8px;
            width: 62px;
            height: 42px;
            transform-origin: right;
            .search {
                width: 100%;
                height: 42px;
                background-color: rgba(255, 255, 255, 0.55) !important;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                border-radius: 2px;
                line-height: 49px;
                ion-icon {
                    font-size: 20px;
                    color: #6a6b6d;
                    margin-left: 18px;
                }
            }
        }
        ion-searchbar {
            position: absolute;
            .searchbar-input {
                background-color: rgba(255, 255, 255, 0.55) !important;
                color: white !important;
                &::-webkit-input-placeholder {
                    color: white !important;
                }
            }
        }
        .menu-btn {
            font-size: 20px;
            color: white;
            margin-top: 10px;
        }
    }
    ion-content {
        background-color: transparent !important;
        color: white;
        .nav-items-container {
            height: 200px;
            position: absolute;
            bottom: 0;
            width: 100%;
            //background: rgba(10, 10, 10, 0.1);
            //background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            ion-col {
                border-top: solid 1px rgba(240, 240, 240, 0.75);
                height: 100px;
                text-align: center;
                &:first-child {
                    border-right: solid 1px white;
                }
                a {
                    display: block;
                    margin-top: 15px;
                    color: white;
                    .icon {
                        display: block;
                        font-size: 28px;
                    }
                }
            }
            ion-row:last-child {
                ion-col {
                    border-bottom: solid 1px rgba(240, 240, 240, 0.75);
                }
            }
        }
    }
}