branch-rate-popover {
    .content {
        margin-bottom: 25px;
        .list {
            .item.branch {
                border-bottom: 1px solid #dedede;
                padding-bottom: 10px;
                .label {
                    margin: 0;
                    p {
                        white-space: normal;
                    }
                }
            }
            .range-item {
                padding: 0 16px;
                .rate-label {
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }
                ion-range {
                    margin: 0;
                    padding: 0;
                }
                .item-inner {
                    padding: 0;
                }
            }
            textarea {
                margin: 10px;
                margin-bottom: 0;
                height: 30px;
                min-height: 30px;
                max-height: 150px;
                width: calc(100% - 20px);
                border: 0;
                border-bottom: solid 1px color($colors, primary);
                resize: none;
            }
        }
    }
}
