// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #da3743, secondary: #EDE6E3, danger: #f53d3d, light: #f4f4f4, dark: #222);
$toolbar-background: #131a25; //#111215; //rgba(64, 62, 62, 0.82); //rgba(80, 80, 80, 0.5); //rgba(248, 184, 100, 0.78); //#f8b864; //#3e3e3e;
$toolbar-ios-title-text-color: white;
$toolbar-md-title-text-color: white;
$shades-of-gray: (lightest-gray: #F5F3F3, lighter-gray: #e7e7e7, gray: #7f7f7f, darker-gray: #515050, darkest-gray: #383838);
$font-color: color($shades-of-gray, darker-gray);
$texture-background: url("../assets/images/background4.png"); // color($shades-of-gray, lightest-gray);
//$popover-ios-width: 300px;
//$popover-md-width: 300px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";