<ion-list no-padding no-margin>
    <ion-list-header>Phones</ion-list-header>
    <a ion-item *ngFor="let phone of branch.phones" [href]="sanitize(phone.number)" no-lines>
        <ion-icon name="call" item-left></ion-icon>
        <h3>{{phone.name[0]}}</h3>
        <p>{{phone.number}}</p>
    </a>
    <ion-item no-padding *ngIf="!branch.phones || !branch.phones.length" text-center class="no-match">No phones found</ion-item>
    <ion-item margin-top class="popover-footer">
        <button color="dark" ion-button clear item-left (click)="close()">
            Close
        </button>
    </ion-item>
</ion-list>