phones-popover {
    .content {
        .list {
            .list-header {
                margin-bottom: 0;
            }
            .item {
                .icon {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .item-inner {
                    @include ltr() {
                        margin-left: 5px;
                    }
                    @include rtl() {
                        margin-right: 5px;
                    }
                    .label {
                        margin: 8px 0;
                    }
                }
                h3 {
                    white-space: normal;
                }
            }
            .no-items {
                height: 30px;
            }
        }
    }
}
