<div class="popover-with-footer">
    <ion-content>
        <ion-list no-padding no-margin>
            <ion-list-header>{{translation.Restaurant.Phones | translate}}</ion-list-header>
            <a ion-item *ngFor="let phone of branch.phones" [href]="sanitize(phone.number)" no-lines>
                <ion-icon name="call" item-start></ion-icon>
                <h3>{{phone.name[settings.language]}}</h3>
                <p>{{phone.number}}</p>
            </a>
            <ion-item no-padding *ngIf="!branch.phones || !branch.phones.length" text-center class="no-items">{{translation.Messages.NoPhones | translate}}</ion-item>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-row>
                <ion-col>
                    <button color="dark" ion-button clear block (click)="close()">
                        {{translation.Common.Close | translate}}
                    </button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-footer>
</div>
