phones-popover {
    .list {
        .item {
            .icon {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .item-inner {
                margin-left: 5px;
                .label {
                    margin: 8px 0;
                }
            }
            h3 {
                white-space: normal;
            }
        }
        .no-match {
            height: 30px;
        }
    }
}