// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*ion-header {
  .toolbar-background {
    background: url("../assets/images/header-shadow3.png"); // #da3743; //
  }

  &::after {
    background-image: none !important;
  }
}

ion-content {
  .scroll-content {
    margin-top: 0 !important;
    padding-top: 56px !important;
  }
}*/

.content {
    background-color: $page-background;
}

button[ion-fab] {
    overflow: visible;
    position: relative;
    contain: layout;
    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;
        color: color($colors, primary);
        background-color: rgb(255, 255, 255);
        line-height: 32px;
        border-radius: 15px;
        padding: 0 8px;
    }
}

.list-header {
    margin-bottom: 5px;
}

.no-match {
    color: $font-color;
    height: 120px;
    font-size: large;
}