// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content {
    background: $texture-background;
}

button[ion-fab] {
    overflow: visible;
    position: relative;
    contain: layout;
    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;
        color: color($colors, primary);
        background-color: rgb(255, 255, 255);
        line-height: 32px;
        border-radius: 15px;
        padding: 0 8px;
    }
}

.list-header {
    margin-bottom: 5px;
}

.no-match {
    color: $font-color;
    height: 120px;
    font-size: large;
    background-color: transparent;
    .item-inner {
        border: none !important;
    }
}

.wide-popover .popover-content {
    width: 300px;
}

.item-select {
    ion-select {
        max-width: 70%;
    }
    .label {
        color: black;
    }
}

.popover-footer {
    border-top: 1px solid #dedede;
    border-width: 1px;
    background: $texture-background;
    padding-left: 4px;
    .button,
    a {
        padding: 9px 8px 9px 8px;
        margin: 0;
        width: 90px;
        height: 40px;
    }
}