// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header {
    .toolbar-background {
        background-color: rgba(17, 18, 21, 0.4);
    }
}

.toolbar-title {
    font-weight: normal;
    font-size: 1.8rem;
}

.ion-page {
    ion-content {
        background-image: url(../assets/images/background-dimmed.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .scroll-content {
            background: $texture-background;
        }
    }
}

button[ion-fab] {
    overflow: visible;
    position: relative;
    contain: layout;
    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;
        color: color($colors, primary);
        background-color: rgb(255, 255, 255);
        line-height: 32px;
        border-radius: 15px;
        padding: 0 8px;
    }
}

.list-header {
    margin-bottom: 5px;
}

.no-match {
    color: $font-color;
    height: 120px;
    font-size: large;
    background-color: transparent;
    border: none !important;
    .item-inner {
        border: none !important;
    }
}

.top-popover .popover-content {
    top: 100px !important;
}

.wide-popover .popover-content {
    width: 300px;
}

.narrow-popover .popover-content {
    width: 150px;
}

.popover-with-footer {
    ion-content {
        margin-bottom: 42px;
    }
    ion-footer {
        .toolbar-background {
            background-image: $texture-background;
        }
        .toolbar {
            min-height: 25px;
            .button {
                height: 25px;
            }
        }
    }
}

.item-select {
    ion-select {
        max-width: 70%;
    }
    .label {
        color: black;
    }
}

.card {
    // img shadow
    box-shadow: none;
    background: url("../assets/images/shadow.png") right 0px bottom 0px no-repeat;
    padding-bottom: 10px;
    background-size: contain;
    ion-card-header,
    ion-card-content {
        background: white;
    }
}

.range {
    .emoji {
        margin-top: 4px;
        max-width: 25px;
        max-height: 25px;
    }
    @include rtl() {
        direction: ltr;
        [range-left] {
            margin-right: 12px;
            margin-left: initial;
        }
        [range-right] {
            margin-left: 12px;
            margin-right: initial;
        }
        .range-slider {
            .range-bar {
                right: initial;
                left: 0;
            }
            .range-knob-handle {
                right: initial;
                left: 0;
                margin-right: initial;
                margin-left: -21px;
            }
        }
    }
}

.rating {
    @include rtl() {
        ion-icon {
            transform: scaleX(-1);
        }
    }
}

.confirm-alert {
    .cancel {
        color: gray;
    }
    .ok {
        color: #3282ff;
        white-space: nowrap;
        min-width: 60px;
    }
}