page-favorites {
    ion-content {
        ion-icon {
            color: gray;
        }
        background-image: url(../assets/images/background-dimmed.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .list {
            margin-bottom: 0;
            .item {
                background-color: transparent;
                img {
                    border-radius: 3px;
                }
                .item-inner {
                    border-bottom: none;
                    .input-wrapper {
                        border-bottom: 1px solid rgba(155, 155, 155, 0.4);
                    }
                }
                &:last-child {
                    .item-inner {
                        .input-wrapper {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}