variation-rate-popover {
    .list {
        .item.variation {
            border-bottom: 1px solid #dedede;
            .label {
                p {
                    white-space: normal;
                }
            }
        }
        .range-item {
            .rate-label {
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
            ion-range {
                margin: 0;
                padding: 0;
            }
            .item-inner {
                padding-right: 16px;
                @include rtl() {
                    padding-left: 16px !important; // !important to override rtl paddings
                }
            }
        }
        .comment {
            padding-left: 8px;
            font-size: 14px;
            textarea {
                margin-bottom: 0px;
            }
            .item-inner {
                margin-right: 8px;
                padding-right: 0;
            }
            @include rtl() {
                padding-right: 8px;
                .item-inner {
                    margin-right: 0;
                }
            }
        }
    }
}