<ion-header>
    <ion-navbar>
        <ion-buttons left *ngIf="restaurant">
            <button ion-button icon-only (click)="onBackButton()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{restaurant ? restaurant.name[settings.language] : translation.Home.Deals | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-padding no-margin no-lines>
        <ion-row *ngIf="deals | async; let deals;">
            <ion-col no-margin no-padding col-12 col-xs col-sm-6 col-md-6 col-lg-4 *ngFor="let deal of deals">
                <button (tap)="viewDeal(deal)" ion-item [ngStyle]="{'background-image': (deal.photos && deal.photos.length ? 'url('+deal.photos[0]+')'  : 'url(assets/images/deal1.jpg)')}">
                    <div class="title">
                        <h3>{{deal.description[settings.language]}}</h3>
                    </div>
                </button>
            </ion-col>
            <ion-item no-padding *ngIf="deals.length === 0" text-center class="no-items">{{translation.Messages.NoDeals | translate}}</ion-item>
        </ion-row>
    </ion-list>
</ion-content>
