<ion-list no-padding no-margin>
    <ion-list-header no-margin>{{item.name[0]}}</ion-list-header>
    <!--<ion-item *ngFor="let variation of item.variations">
        <ion-icon name="call" item-left></ion-icon>
        <h3>{{variation.name[0]}}</h3>
        <p>{{variation.number}}</p>
    </ion-item>-->
    <ion-item *ngFor="let variation of item.variations" no-lines>
        <ion-thumbnail item-left>
            <img [src]="variation.photo ? variation.photo  : 'assets/images/item.png'" imageViewer />
        </ion-thumbnail>
        <h3>{{variation.name[0]}}</h3>
        <rating (click)="showVariationRate($event, variation)" readOnly="true" [(ngModel)]="variation.rate" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
        <p><b>{{variation.price}}</b> SDG</p>
        <!--<p>{{variation.description}}</p> show description at bottom when user clicks on photo to view it-->
        <!--<ion-badge item-right>{{variation.price}} SDG</ion-badge>-->
    </ion-item>
    <!-- all items must have at least one variation <ion-item no-padding *ngIf="!item.variations || !item.variations.length" text-center class="no-match">No variations</ion-item>-->
    <ion-item margin-top class="popover-footer">
        <button color="dark" ion-button clear item-left (click)="close()">
            Close
        </button>
    </ion-item>
</ion-list>