location-popover {
    .map {
        height: 300px;
        width: 100%;
        /*@media (min-width: 767px) {
            height: 550px;
        }*/
    }
    .item.address {
        padding-left: 0;
        h2 {
            white-space: normal;
        }
        .item-inner {
            padding-left: 16px;
            border: none;
        }
    }
    .item.popover-footer {
        padding-right: 0;
        padding-left: 0;
        .item-inner {
            max-width: 150px;
            padding-right: 24px !important;
            padding-left: 24px !important;
            a {
                span {
                    color: #3282ff;
                }
            }
        }
    }
}